<section class="w-[680px] mx-auto my-12">
    <div class="container mx-auto space-y-4">
        <div>
            <h1 class="text-xl font-semibold text-slate-600">Tasks</h1>
        </div>
        <div>
            <form action="/tasks/create" method="post" id="form">
                <div class="flex space-x-2 border border-slate-200 p-4 rounded">
                    <input class="flex-1 outline-none text-slate-700" type="text" name="title"
                        placeholder="Add a new task...">
                    <button class="font-semibold text-slate-700" type="submit">Add Task</button>
                </div>
            </form>
        </div>
        <div>
            <ul class="space-y-2">
                {{#each tasks}}
                <li
                    class="flex items-center p-4 border border-slate-200  bg-slate-100 text-slate-700 rounded space-x-2">

                    {{#if this.completed}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="#09080a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-badge-check text-slate-100">
                        <path
                            d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z" />
                        <path d="m9 12 2 2 4-4" />
                    </svg>
                    {{else}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="#09080a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-badge text-slate-300">
                        <path
                            d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z" />
                    </svg>
                    {{/if}}


                    <div class="flex flex-1"><span>{{this.title}}</span></div>
                    <div>
                        <a href="{{concat '/tasks/' this._id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="#09080a" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-pencil">
                                <path
                                    d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                                <path d="m15 5 4 4" />
                            </svg>
                        </a>
                    </div>
                    <div>
                        <form action="{{concat '/tasks/' this._id '/delete' }}" method="post">
                            <button type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="#09080a" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-trash">
                                    <path d="M3 6h18" />
                                    <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                                    <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                                </svg>
                            </button>
                        </form>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>